.navbar-brand{
    font-family: Pristina;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 144.69%;
    color: #2E3A59;
}
.carruselTestimonios{
    visibility: hidden;
}
.testimoniosMovil{
    visibility: hidden;
}
.nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2E3A59;
    
}
#navbarNav{
    position: absolute;
    width: 503px;
    height: 21px;
    left: 469px;
    top: 21px;
}
.header{
    width: 100%;
    min-height: 100vh;
}
.header:before {
}
.bg-light{
    position: fixed;
    z-index: 20;
    width: 100%;
}
/*HEADER*/
.titulo{
    left: 0px;
    width:100%;
    top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 126.68%;
    color: #1581FA;
}
.subtitulo{
    left: 0px;
    width:100%;
    top: 121px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 126.69%;
    color: #2E3A59;
}
.pie{
    left: 82px;
    top: 356px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #808080;
}
.contactanos{
    width: 197px;
    height: 50px;
    left: 80px;
    top: 442px;
    background: #FE6F50;
    border-radius: 4px;
    border-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144.69%;
    color: #FFFFFF;
    
}
.contactanos:hover{
    background-color: #FF8C73;
}
.contactanos:active {
    background: #FF5733;
  }
.headerImg{
    position: absolute;
    width: 465.95px;
    height: 511.95px;
    left: 973px;
    top: 20px;
}
.regtangle1{
    position: absolute;
    width: 340.08px;
    height: 340.08px;
    left: 1037.55px;
    top: 126.05px;
    background: #1581FA;
    border-radius: 42.3350px;
    transform: rotate(59.34deg);
}
.globoCliente{
    position: absolute;
    width: 186px;
    height: 54px;
    left: 900px;
    top: 310px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12), -2px -2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
}
.globoNombre{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144.69%;
    color: #2E3A59;
    position: absolute;
    width: 100px;
    height: 17px;
    top: 5px;
    left: 55px;
}
.globoNuevoCliente{
    position: absolute;
    width: 100px;
    top: 25px;
    left: 55px;
    height: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144.69%;
    color: #808080;
}
.nuevoCliente{
    position: absolute;
    width: 37px;
    height: 37px;
    left:8px;
    top: 8px;
}
.globoEstadisticas{
    position: absolute;
    width: 217px;
    height: 117px;
    left: 1329px;
    top: 325px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12), -2px -2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.estadisticas{
    position: absolute;
    width: 198px;
    height: 90px;
    left: 10    px;
    top: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.estadisticasTexto{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144.69%;
    color: #2E3A59;
    top: 100px;
    left: 60px;
}
/*BENEFICIOS*/

.beneficios{
    position: absolute;
    width: 1280px;
    height: 440px;
    left: 320px;
    top: 650px;
    background: #F4F4F9;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.15), 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}
.beneficiosTitulo{
    position: relative;
    width: max-content;
    height: 52px;
    top: 36px;
    left: 547px;
    right: 224px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 144.69%;
    color: #2E3A59;
}
.carrito{
    position: absolute;
    top: 0px;
}
.regtanguloAzul2{
    position: absolute;
    width: 54.75px;
    height: 54.75px;
    left: 405.3px;
    top: -25px;
    background: #1581FA;
    border-radius: 6.81588px;
    transform: rotate(144.82deg);
}
.regtanguloRojo1{
    position: absolute;
    width: 27.69px;
    height: 27.69px;
    left: 465px;
    top: 15px;
    background: #FE6F50;
    border-radius: 3.44719px;
    transform: rotate(144.82deg);
}
.tick1{
    position: absolute;
    left: 450px;
    top:147px ;
}
.beneficio1{
    position: absolute;
    width: 302px;
    height: 87px;
    left: 485px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
}

.tick2{
    position: absolute;
    left: 900px;
    top:147px ;
}
.beneficio2{
    position: absolute;
    width: 302px;
    height: 87px;
    left: 935px;
    top: 142px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
}

.tick3{
    position: absolute;
    left: 450px;
    top:325px ;
}
.beneficio3{
    position: absolute;
    width: 302px;
    height: 87px;
    left: 485px;
    top: 320px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
}

.tick4{
    position: absolute;
    left: 900px;
    top:325px ;
}
.beneficio4{
    position: absolute;
    width: 302px;
    height: 87px;
    left: 935px;
    top: 320px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
}
.miniCuadradoAzul2{
    position: absolute;
    width: 68.78px;
    height: 68.78px;
    left: 1159.16px;
    top: 400.9px;
    background: #1581FA;
    border-radius: 8.56174px;
    transform: rotate(59.34deg);
}
.miniCuadradoRojo2{
    position: absolute;
    width: 41.07px;
    height: 41.07px;
    left: 1210.16px;
    top: 360.9px;
    background: #FE6F50;
    border-radius: 5.11261px;
    transform: rotate(59.34deg);
}

/*PASOS*/
#pasos{
 

}

.pasosTitulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 144.69%;
    color: #2E3A59;
    position: absolute;
    width: max-content;
    height: 52px;
    left: 720px;
    top: 1162px;
}
.linea{
    position: absolute;
    width: 1350px;
    height: 0px;
    left: 290px;
    top: 1350px;
    border: 1px solid #CDCDCD;
}
.primerPaso{
    position: absolute;
    width: 68.78px;
    height: 68.78px;
    left: 236px;
    top: 1315.63px;
    background: #1581FA;
    border-radius: 8.56174px;
    transform: rotate(-45deg);
}
.uno{
    position: absolute;
    width: 21px;
    height: 52px;
    left: 260px;
    top: 1323.63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 144.69%;
    color: #FFFFFF;
}
.unoDescripcion{
    position: absolute;
    width: 304px;
    height: 174px;
    left: 120px;
    top: 1440px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    text-align: center;
    color: #2E3A59;
}
.segundoPaso{
    position: absolute;
    width: 68.78px;
    height: 68.78px;
    left: 935px;
    top: 1315.63px;
    background: #1581FA;
    border-radius: 8.56174px;
    transform: rotate(-45deg);
}
.dos{
    position: absolute;
    width: 21px;
    height: 52px;
    left: 958px;
    top: 1323.63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 144.69%;
    color: #FFFFFF;
}
.dosDescripcion{
    position: absolute;
    width: 304px;
    height: 174px;
    left: 820px;
    top: 1440px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    text-align: center;
    color: #2E3A59;
}
.tercerPaso{
    position: absolute;
    width: 68.78px;
    height: 68.78px;
    left: 1580px;
    top: 1315.63px;
    background: #1581FA;
    border-radius: 8.56174px;
    transform: rotate(-45deg);
}
.tres{
    position: absolute;
    width: 21px;
    height: 52px;
    left: 1605px;
    top: 1323.63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 144.69%;
    color: #FFFFFF;
}
.tresDescripcion{
    position: absolute;
    width: 304px;
    height: 174px;
    left: 1466px;
    top: 1440px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.69%;
    text-align: center;
    color: #2E3A59;
}

/*TESTIMONIOS*/
.testimonios{
    width: 1000px;
}
 .testimoniosTitulo{
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 1715px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 144.69%;
    color: #2E3A59;
    text-align: center;
 }
 .testimoniosSubtitulo{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 35px;
    left: 0px;
    top: 1775px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #808080;
 }
 /*CARD 1*/
 .comillas1{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 40px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .comillas1-2{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 70px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .card1{
    position: absolute;
    width: 521px;
    height: 314px;
    left: 281px;
    top: 1868px;
    background: #F4F4F9;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.15), 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
 }
 .card1Descripcion{
    position: absolute;
    width: 467px;
    height: 130px;
    left: 30px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .card1Linea{
    position: absolute;
    width: 97px;
    height: 0px;
    left: 40px;
    top: 230px;
    border: 3px solid #1581FA;
 }
 .card1Cliente{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 40px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
 }

 /*CARD 2*/

 .comillas2{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 40px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .comillas2-2{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 70px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .card2{
    position: absolute;
    width: 521px;
    height: 314px;
    left: 900px;
    top: 1868px;
    background: #F4F4F9;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.15), 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
 }
 .card2Descripcion{
    position: absolute;
    width: 467px;
    height: 130px;
    left: 30px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .card2Linea{
    position: absolute;
    width: 97px;
    height: 0px;
    left: 40px;
    top: 230px;
    border: 3px solid #1581FA;
 }
 .card2Cliente{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 40px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
 }

 /*CARD 3*/

 .comillas3{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 40px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .comillas3-2{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 70px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .card3{
    position: absolute;
    width: 521px;
    height: 314px;
    left: 281px;
    top: 2250px;
    background: #F4F4F9;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.15), 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
 }
 .card3Descripcion{
    position: absolute;
    width: 467px;
    height: 130px;
    left: 30px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .card3Linea{
    position: absolute;
    width: 97px;
    height: 0px;
    left: 40px;
    top: 230px;
    border: 3px solid #1581FA;
 }
 .card3Cliente{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 40px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
 }

 /*CARD 4 */

 .comillas4{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 40px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .comillas4-2{
    position: absolute;
    width: 21.44px;
    height: 36.05px;
    left: 70px;
    top: 5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .card4{
    position: absolute;
    width: 521px;
    height: 314px;
    left: 900px;
    top: 2250px;
    background: #F4F4F9;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.15), 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
 }
 .card4Descripcion{
    position: absolute;
    width: 467px;
    height: 130px;
    left: 30px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .card4Linea{
    position: absolute;
    width: 97px;
    height: 0px;
    left: 40px;
    top: 230px;
    border: 3px solid #1581FA;
 }
 .card4Cliente{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 40px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .regtangle23{
    position: absolute;
    width: 570.8px;
    height: 570.8px;
    left: 1200.08px;
    top: 1900px;
    background: #FE6F50;
    border-radius: 56px;
    transform: rotate(59.34deg);
 }
 .comillaVacia1{
    position: absolute;
    width: 80.12px;
    height: 136.85px;
    left: 1430px;
    top: 1860.85px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }
 .comillaVacia2{
    position: absolute;
    width: 80.12px;
    height: 136.85px;
    left: 1530px;
    top: 1860.85px;
    transform: matrix(1, 0, 0, 1, 0, 0);
 }

 /*PREGUNTAS FRECUENTES*/

 .preguntasFrecuentesTitulo{
    position: absolute;
    width: max-content;
    height: 52px;
    top: 2680px;
    left: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .miniCuadrado1{
    position: absolute;
    width: 20.51px;
    height: 20.51px;
    left: 456px;
    top: 2800.49px;
    background: #1581FA;
    border-radius: 2.55272px;
    transform: rotate(-45deg);
 }
 .primerPregunta{
    position: absolute;
    width: 805px;
    height: 35px;
    left: 500px;
    top: 2795px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .primerRespuesta{
    position: absolute;
    width: 641px;
    height: 35px;
    left: 500px;
    top: 2840px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #808080;
 }
 .miniCuadrado2{
    position: absolute;
    width: 20.51px;
    height: 20.51px;
    left: 456px;
    top: 2950.49px;
    background: #1581FA;
    border-radius: 2.55272px;
    transform: rotate(-45deg);
 }
 .segundaPregunta{
    position: absolute;
    width: 805px;
    height: 35px;
    left: 500px;
    top: 2945px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .segundaRespuesta{
    position: absolute;
    width: 641px;
    height: 35px;
    left: 500px;
    top: 2990px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #808080;
 }
 .miniCuadrado3{
    position: absolute;
    width: 20.51px;
    height: 20.51px;
    left: 456px;
    top: 3104px;
    background: #1581FA;
    border-radius: 2.55272px;
    transform: rotate(-45deg);
 }
 .tercerPregunta{
    position: absolute;
    width: 805px;
    height: 35px;
    left: 500px;
    top: 3095px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #2E3A59;
 }
 .tercerRespuesta{
    position: absolute;
    width: 801px;
    height: 35px;
    left: 500px;
    top: 3140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #808080;
 }
 .finRespuestas{
    position: absolute;
    width: 575px;
    left: 620px;
    top: 3440px;
    bottom: 608px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    text-align: center;
    color: #FE6F50;
    
 }
 .miniCuadradoAzul4{
    position: absolute;
    width: 104.06px;
    height: 104.06px;
    left: 1700px;
    top: 2945px;
    background: #1581FA;
    border-radius: 12.9546px;
    transform: matrix(0.85, -0.52, 0.52, 0.85, 0, 0);
 }
 .miniCuadradoRojo4{
    position: absolute;
    width: 62.14px;
    height: 62.14px;
    left: 1630px;
    top: 2905px;
    background: #FE6F50;
    border-radius: 7.73579px;
    transform: matrix(0.85, -0.52, 0.52, 0.85, 0, 0);
 }


 /*FOOTER*/
.fondoFooter{
    position: absolute;
    width: 1440px;
    height: 398px;
    top: 3720px;
    left: 236px;  
    background: #FAFAFE;
}
.cuadraditoAzul4{
    position: absolute;
    width: 68.78px;
    height: 68.78px;
    left: 280px;
    top: 3680px;
    background: #1581FA;
    border-radius: 8.56174px;
    transform: rotate(59.34deg);
}
.cuadraditoRojo4{
    position: absolute;
    width: 41.07px;
    height: 41.07px;
    left: 340px;
    top: 3650px;
    background: #FE6F50;
    border-radius: 5.11261px;
    transform: rotate(59.34deg);
}
.imgFooter{
    position: absolute;
    width: 479px;
    height: 319px;
    left: 720px;
    top: 3550px;
}

.footerTitulo{
    position: absolute;
    width: 445px;
    height: 174px;
    left: 380px;
    top: 3800px;  
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 144.69%;
    color: #2E3A59;
}
.datosContacto{
    position: absolute;
    width: 190px;
    height: 104px;
    left: 1050px;
    top: 3840px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 144.69%;
    color: #2E3A59;
}
.notebook{
    position: absolute;
    width: 394px;
    height: 262.11px;
    left: 1280px;
    top: 3873px; 
    
}
.instagram{
    position: absolute;
    width: 40.83px;
    height: 40.83px;
    left: 1050px;
    top: 3970px;
}
.linkedin{
    position: absolute;
    width: 40.83px;
    height: 40.83px;
    left: 1150px;
  top: 3970px; 

}
.facebook{
    position: absolute;
    width: 40.83px;
    height: 40.83px;
    left: 1250px;
    top: 3970px; 

}
.text-header{
    min-height: 50vh;
}
.navg a {
    padding: 10px 15px;
    text-align: center;
}
/*ADAPTADO A TABLET CON MEDIA QUERIES*/

@media only screen and (min-width:577px) and (max-width:810px){ 

    /*NAV*/ 
    #nombrePagina{
        position: relative;
        right:50px;
        left: 30px;
        top: 20px;
    }
    .navbar-nav{
        right: 250px;
        bottom: 0px;
        width: max-content;
    }

    /*HEADER*/
      .regtangle1{
          position: absolute;
          top: 350px;
          left: 350px;
          height: 250px;
          width: 250px;
      }
      .headerImg{
        position: absolute;
        top: 282px;
        left: 301px;
        height: 360px;
        width: 350px;
    }
    .globoCliente{
        position: absolute;
        top: 500px;
        left: 220px;
        width: 150px;
        height: 45px;
    }
    .globoNombre,.globoNuevoCliente{
        font-size: 10px;
    }
    .nuevoCliente{
        position: absolute;
        top: 5px;
    }
    .globoEstadisticas{
        left: 570px;
       top: 500px;
    }
    /*BENEFICIOS*/
    .beneficios{
        width: 750px;
        position: absolute;
        left: 35px;
    }
    .carrito{
        width: 280px;
        height: 300px;
        margin-top: 140px;
    }
    .regtanguloAzul2{
        left: 70px;
    }
    .regtanguloRojo1{
        left: 120px;
    }
    .miniCuadradoAzul2{
        left: 600px;
    }
    .miniCuadradoRojo2{
        left: 650px;
    }
    .beneficiosTitulo{
        left: 150px;
        font-size: 20px;
    }
    .tick1{
        left: 310px;
        top: 110px;
    }
    .beneficio1{
        left: 350px;
        top: 100px;
        font-size: 15px;
    }
    .tick2{
        left: 310px;
        top: 180px;
    }
    .beneficio2{
        font-size: 15px;
        left: 350px;
        top: 170px;
    }
    .tick3{
        left: 310px;
        top: 250px ;
    }
    .beneficio3{
        font-size: 15px;
        left: 350px;
        top: 240px;
    }
    .tick4{
        left: 310px;
        top: 320px;
    }
    .beneficio4{
        font-size: 15px;
        left: 350px;
        top: 310px;
    }
    /*PASOS*/
    
    .pasosTitulo{
        font-size: 30px;
        left: 250px;
    }
    .linea{
        left: 120px;
        width: 620px;
        top: 1340px;
    }
    .primerPaso{
        left: 110px;
        width: 50px;
        height: 50px;
    }
    .uno{
        left: 126px;
        top: 1320px;
        font-size: 30px;
    }
    .unoDescripcion{
        width: 150px;
        left: 60px;
        top: 1400px;
        font-size: 15px;

    }
    .segundoPaso{
        left: 400px;
        width: 50px;
        height: 50px;
    }
    .dos{
        left: 416px;
        top: 1320px;
        font-size: 30px;
    }
    .dosDescripcion{
        width: 150px;
        left: 350px;
        top: 1400px;
        font-size: 15px;
    }
    .tercerPaso{
        left: 690px;
        width: 50px;
        height: 50px;
    }
    .tres{
        left: 706px;
        top: 1320px;
        font-size: 30px;
    }
    .tresDescripcion{
        width: 150px;
        left: 640px;
        top: 1400px;
        font-size: 15px;
    }
    /*TESTIMONIOS*/
    .regtangle23{
        width: 500px;
        height:500px;
        left: 250px;
        top: 2200px;
    }
    .comillaVacia1{
        left: 660px;
        width: 50px;
        height: 80px;
        top: 2500px;
    }
    .comillaVacia2{
        left: 720px;
        width: 50px;
        height: 80px;
        top: 2500px;
    }
    .card1,.card2,.card3,.card4{
        left: 150px;
    }
    .card2{
        top: 2200px;
    }
    .card3{
        top: 2550px;
    }
    .card4{
        top: 2900px;
    }
    /*PREGUNTAS FRECUENTES*/
    .preguntasFrecuentesTitulo{
        left: 250px;
        width: 500px;
        top: 3300px;
      }
    .cuadraditoAzul4{
        left: 670px;
        top: 3530px;
    }
    .cuadraditoRojo4{
        left: 630px;
        top: 3500px;
    }
    .miniCuadradoAzul4{
        left: 650px;
    }
    .miniCuadradoRojo4{
        left: 600px;
    }
    .miniCuadrado1,.miniCuadrado2,.miniCuadrado3{
        left: 30px;
    }
    .primerPregunta,.segundaPregunta,.tercerPregunta{
        left: 60px;
        font-size: 20px;
    }
    .primerRespuesta,.segundaRespuesta,.tercerRespuesta{
        left: 60px;
        font-size: 20px;
        width: 600px;
    }
    /*PRIMER PREGUNTA*/
    .miniCuadrado1,.primerPregunta{
        top: 3400px;
    }
    .primerRespuesta{
        top: 3450px;
    }
    /*SEGUNDA PREGUNTA*/
    .miniCuadrado2,.segundaPregunta{
        top: 3550px;
    }
    .segundaRespuesta{
        top: 3600px;
    }
    /*TERCERA PREGUNTA*/
    .miniCuadrado3,.tercerPregunta{
        top: 3700px;
    }
    .tercerRespuesta{
        top: 3750px;
    }
    .finRespuestas{
        left: 200px;
        width: 500px;
        top: 3900px;
    }
    /*FOOTER*/
    .fondoFooter{
        width: 810px;
        left: 0px;
        top: 4150px;
        height: 700px;
    }
    .imgFooter{
        left: 200px;
        top: 4000px;
    }
    .cuadraditoAzul4{
        top: 4100px;
        left: 50px;
    }
    .cuadraditoRojo4{
        top: 4070px;
        left: 110px;
    }
    .footerTitulo{
        top: 4300px;
        left: 10px;
        font-size: 30px;
    }
    .datosContacto{
        top: 4300px;
        left: 500px;
    }
    .notebook{
        top: 4450px;
        left: 420px;
    }
    .instagram,.facebook,.linkedin{
        top: 4430px;
    }
    .instagram{
        left: 500px;
    }
    .linkedin{
        left: 600px;
    }
    .facebook{
        left: 700px;
    }
}
@media only screen and (max-width:576px){
    .titulo{
        font-size: 36px;
    }
    .subtitulo{
        font-size: 36px;
    }
    .text-header{
        min-height: 60vh;
    }
    .pie{
        font-size: 18px;    
    }
    .navbar-brand{
        font-size: 15px!important;
    }
    /*HEADER*/
    .regtangle1{
        position: absolute;
        width: 13.5rem;
        height: 13.5rem;
        left: 19.5%;
        top: 475px;
        border-radius: 23.7256px;
        transform: rotate(55.34deg);
    }
    .headerImg{
        position: absolute;
        width: 75%;
        height: 35%;
        left:12.5%;
        top: 425px;
    }
    .globoCliente{
        position: absolute;
        width: 140.24px;
        height: 44.26px;
        left: 26px;
        top: 486.28px;
    }
    .nuevoCliente{
        top: 5px;
    }
    .globoEstadisticas{
        width: 121.61px;
        height: 65.57px;
        left: 55%;
        top: 675px;        
    }
    .estadisticas{
        width: 108px;
        height: 60px;
        left: 10px;
        top: 5px;
    }
    .estadisticasTexto{
        top: 70px;
        left: 20px;
    }
    /*BENEFICIOS*/
    .beneficios{
        width: 90%;
        position: absolute;
        left: 25px;
        top: 940px;
        height: 798px;
    }
    .carrito{
        width: 280px;
        height: 300px;
        margin-top: 490px;
    }
    .regtanguloAzul2{
        left: 15.24px;
        top: -15px;
    }
    .regtanguloRojo1{
        position: absolute;
        width: 23.32px;
        height: 23.32px;
        left: 85.24px;
        top: 15px;    
    }
    .miniCuadradoAzul2{
        width: 57.91px;
        height: 57.91px;
        left: 75%;
        top: 759px;
    }
    .miniCuadradoRojo2{
        width: 34.58px;
        height: 34.58px;
        left: 85%;
        top: 729px;
    }
    .beneficiosTitulo{
        width: 70%;
        height: 70px;
        left: 17.5%;
        top: 46px;
        font-size: 24px;
        text-align: center;
    }
    .tick1{
        left: 10.23%;
        top: 18%;
    }
    .beneficio1{
        left: 18.23%;
        top: 18%;
        font-size: 15px;
        width: 80%;
    }
    .tick2{
        left: 10.23%;
        right: 10.23%;
        top: 28%;
    }
    .beneficio2{
        font-size: 15px;
        left: 18.23%;
        top: 28%;
        width: 80%;
    }
    .tick3{
        left: 10.23%;
        top: 38%;
    }
    .beneficio3{
        font-size: 15px;
        left: 18.23%;
        top: 38%;
        width: 80%;
    }
    .tick4{
        left: 10.23%;
        top: 48%;
    }
    .beneficio4{
        font-size: 15px;
        left: 18.23%;
        top: 48%;
        width: 80%;
    }
    /*PASOS*/
    .pasosTitulo{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 1800px;
        font-size: 24px;
    }
    .linea{
        visibility: hidden;
    }
    .primerPaso{
        left: 40%;
        top: 1917.63px;
    }
    .uno{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 1925.63px;
    }
    .unoDescripcion{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2015px;
        font-size: 18px;
    }
    .segundoPaso{
        left: 40%;
        top: 2217.63px;
    }
    .dos{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2225.63px;
    }
    .dosDescripcion{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2315px;
        font-size: 18px;
    }
    .tercerPaso{
        left: 40%;
        top: 2517.63px;
    }
    .tres{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2525.63px;
    }
    .tresDescripcion{
        top: 2615px;
        font-size: 18px;
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
    }
    /*TESTIMONIOS*/
    .carruselTestimonios{
        visibility: visible;
    }
    .testimoniosTitulo{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2800px;
        font-size: 24px;
    }
    .testimoniosSubtitulo{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top: 2850px;
    }
    .regtangle23{
        width: 500px;
        height:500px;
        left: 250px;
        top: 2900px;
    }
    .comillaVacia1{
        left: 360px;
        width: 50px;
        height: 80px;
        top: 2950px;
    }
    .comillaVacia2{
        left: 280px;
        width: 50px;
        height: 80px;
        top: 3000px;
    }
    .card1,.card2,.card3,.card4{
        width: 90%;
        left: 5%;
        right: 5%;
    }
    .card1{
        top: 2950px;
    }
    .card2{
        top: 3300px;
    }
    .card3{
        top: 3650px;
    }
    .card4{
        top: 4000px;
    }
    .card1Descripcion,.card2Descripcion,.card3Descripcion,.card4Descripcion{
        width: 85%;
        font-size: 15px;
    }
    .card3Cliente,.card2Cliente,.card1Cliente,.card4Cliente{
        width: 90%;
    }
    /*PREGUNTAS FRECUENTES*/
    .preguntasFrecuentesTitulo{
        left: 0px;
        width:100%;
        text-align: center;
        padding: 0% 5%;
        top:4350px;
      }
    .miniCuadradoAzul4{
        left: 650px;
    }
    .miniCuadradoRojo4{
        left: 600px;
    }
    .miniCuadrado1,.miniCuadrado2,.miniCuadrado3{
        left: 30px;
        position: absolute;
        width: 20.51px;
        height: 20.51px;
    }
    .primerPregunta,.segundaPregunta,.tercerPregunta{
        left: 35px;
        width:90%;
        text-align: center;
        padding: 0% 5%;
        font-size: 18px;
    }
    .primerRespuesta,.segundaRespuesta,.tercerRespuesta{
        left: 0px;
        width:100%;
        padding: 0% 5%;
        font-size: 20px;
        text-align: center;
    }
    /*PRIMER PREGUNTA*/
    .miniCuadrado1,.primerPregunta{
        top: 4550px;
    }
    .primerRespuesta{
        top: 4650px;
    }
    /*SEGUNDA PREGUNTA*/
    .miniCuadrado2,.segundaPregunta{
        top: 4750px;
    }
    .segundaRespuesta{
        top: 4850px;
    }
    /*TERCERA PREGUNTA*/
    .miniCuadrado3,.tercerPregunta{
        top: 4950px;
    }
    .tercerRespuesta{
        top: 5050px;
    }
    .finRespuestas{
        left: 0px;
        width: 100%;
        top: 5300px;
        padding: 0% 5%;
    }
    /*FOOTER*/
    .fondoFooter{
        width: 810px;
        left: 0px;
        top: 5600px;
        height: 500px;
    }
    .imgFooter{
        width: 275px;
        height: 183.14px;
        left: -37px;
        top: 5525px;
    }
    .cuadraditoAzul4{
        /*top: 6100px;
        left: 50px;*/
        visibility: hidden;
    }
    .cuadraditoRojo4{
        /*top: 6070px;
        left: 110px;*/
        visibility: hidden;
    }
    .footerTitulo{
        top: 5725px;
        left: 0px;
        font-size: 24px;
        padding: 0% 5%;
        width: 100%;
    }
    .datosContacto{
        top:5825px;
        font-size: 18px;
        left: 0px;
        padding: 0% 5%;
        width: 50%;
    }
    .notebook{
        width: 60%;
        height: 161.66px;
        left: 40%;
        top: 5900px;
    }
    .instagram,.facebook,.linkedin{
        top: 5950px;
    }
    .instagram{
        width: 22px;
        height: 22px;
        left: 20px;
    }
    .linkedin{
        width: 22px;
        height: 22px;
        left: 60px;
    }
    .facebook{
        width: 22px;
        height: 22px;
        left: 100px;
    }
}
      